<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hae koira</title>
    </head>

    <body>
        <a href="/koira/etsi"><button>Takaisin</button></a>
        <h1>Haetut tiedot</h1>
        <p>numero: <%= koira.numero %></p>
        <p>rotu: <%= koira.rotu %></p>
        <p>PainoKg: <%= koira.painoKg %></p>
        <p>syntymavuosi: <%= koira.syntymavuosi %></p>
        <p>pituus: <%= koira.pituus %></p>
    </body>

</html>